
.NavTitle {
  cursor: pointer;
}

.NavButton {
  outline-style: none;
  outline: none;
  cursor: pointer;
}

.NavItem {
  cursor: pointer;
  padding: 1rem 0.8rem;

  @apply text-indigo-100;
  @apply hover:bg-gray-600;
  @apply rounded-md;
  @apply transition-all;
  @apply duration-75;
  @apply ease-out;
  @apply w-full;
  @apply md:w-auto;
  @apply md:mx-0;
}
